<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Kelola Data Produk
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">

                    <!-- FLASH MESSAGE AKAN DITEMPATKAN DISINI -->
                    <div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3 shadow-md my-3"
                        role="alert" v-if="flash.message">
                        <div class="flex">
                            <div>
                                <p class="text-sm">{{ flash.message }}</p>
                            </div>
                        </div>
                    </div>

                    <button @click="openModal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Tambah
                        Produk</button>
                    <table class="table-fixed w-full">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-4 py-2">Title</th>
                                <th class="px-4 py-2">Kategori Artikel</th>
                                <th class="px-4 py-2">Content</th>
                                <th class="px-4 py-2">Banner</th>
                                <th class="px-4 py-2">Aksi</th>
                            </tr>
                        </thead>
                        <tbody v-if="data.length > 0">
                            <tr v-for="(row, index) in data" :key="index">
                                <td class="border px-4 py-2">{{ row.title }}</td>
                                <td class="border px-4 py-2">{{ row.category_id }}</td>
                                <td class="border px-4 py-2">{{ row.content }}</td>
                                <td class="border px-4 py-2">{{ row.banner }}</td>
                                <td class="border px-4 py-2">
                                    <button @click="edit(row)"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">Edit</button>
                                    <button @click="deleteRow(row)"
                                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="5" class="text-center">Tidak ada data</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- MODAL TAMBAH & EDIT PRODUK AKAN DITEMPATKAN DISINI -->
                    <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isOpen">
                        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                            <div class="fixed inset-0 transition-opacity">
                                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                            </div>
                            <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​
                            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                                role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                                <form method="POST" enctype="multipart/form-data">
                                    <!-- {{ csrf_field() }} -->
                                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                        <div class="">
                                            <div class="mb-4">
                                                <label for="title"
                                                    class="block text-gray-700 text-sm font-bold mb-2">Title</label>
                                                <input type="text"
                                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="title" v-model="form.title">
                                                <div v-if="errors.title" class="text-red-500">{{ errors.title }}</div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="category_id"
                                                    class="block text-gray-700 text-sm font-bold mb-2">Kategori
                                                    Artikel</label>
                                                <input type="text"
                                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="category_id" v-model="form.category_id">
                                                <div v-if="errors.category_id" class="text-red-500">{{ errors.category_id }}
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="content"
                                                    class="block text-gray-700 text-sm font-bold mb-2">Content</label>
                                                <textarea type="text"
                                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="content" v-model="form.content"></textarea>
                                                <div v-if="errors.content" class="text-red-500">{{ errors.content }}</div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="banner"
                                                    class="block text-gray-700 text-sm font-bold mb-2">Banner</label>
                                                <input type="file"
                                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="banner" v-on:change="form.banner">
                                                <div v-if="errors.banner" class="text-red-500">{{ errors.banner }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                        <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                                            <button type="button"
                                                class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                                v-show="!editMode" @click="save">
                                                Save
                                            </button>
                                        </span>
                                        <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                                            <button type="button"
                                                class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                                v-show="editMode" @click="update">
                                                Update
                                            </button>
                                        </span>
                                        <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                                            <button @click="closeModal()" type="button"
                                                class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                                Cancel
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL TAMBAH & EDIT PRODUK AKAN DITEMPATKAN DISINI -->

                </div>
            </div>
        </div>
    </app-layout>
</template>
<script>
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Pages/Welcome.vue'
export default {
    components: {
        AppLayout,
        Welcome,
    },
    props: ['data', 'errors', 'flash'],
    data() {
        return {
            editMode: false,
            isOpen: false,
            form: {
                title: null,
                content: null,
                category_id: null,
                banner: null,
            },
        }
    },
    methods: {
        openModal() {
            this.isOpen = true;
        },
        closeModal() {
            this.isOpen = false; //TUTUP MODAL
            this.reset(); //RESET FORM
            this.editMode = false; //SET EDIT MODAL MENJADI FALSE JUGA
        },
        reset() {
            this.form = {
                title: null,
                content: null,
                category_id: null,
                banner: null,
            }
        },
        save() {
            this.$inertia.post('/articles', this.form, {
                preserveState: (page) => Object.keys(page.props.errors).length,
                onError: (page) => {
                    if (Object.keys(page).length == 0) {
                        this.reset();
                        this.closeModal();
                        this.editMode = false;
                    }
                }
            })

        },
        edit(data) {
            this.form = Object.assign({}, data);
            this.editMode = true;
            this.openModal();
        },
        update() {
            this.form._method = 'PUT';

            this.$inertia.post('/articles/' + this.form.id, this.form, {
                preserveState: (page) => Object.keys(page.props.errors).length,
                onError: (page) => {
                    if (Object.keys(page).length == 0) {
                        this.reset();
                        this.closeModal();
                    }
                }
            })
        },
        deleteRow(data) {
            if (!confirm('Are you sure want to remove?')) return;
            data._method = 'DELETE';
            this.$inertia.post('/articles/' + data.id, data)
            this.reset();
            this.closeModal();
        }
    }
}
</script>
